@if (this.TempData.ContainsKey("Success"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@this.TempData["Success"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (this.TempData.ContainsKey("Danger"))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@this.TempData["Danger"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}