@using MobileBG.Web.ViewModels.Makes

@model AllMakesViewModel

<h1 class="text-center">All Makes</h1>
<hr />

<form class="row">
    <div class="col-md-3">
        <input asp-for=KeyWord class="form-control" placeholder="Search">
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
</form>

<form id="details"></form>

<div class="row mt-4">
    @foreach (var item in this.Model.Makes)
    {
        <button form="details" asp-action="Details" asp-route-id="@item.Id" type="submit" style="border-radius: 4px;" class="borderR list-group-item list-group-item-action col-md-4 float-left">
            @item.Name
            <a class="btn btn-danger btn-sm float-right"><i class="fa-solid fa-trash-can"></i></a>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm mr-2 float-right"><i class="fa-solid fa-pen-to-square"></i></a>
        </button>
    }
</div>