@using MobileBG.Web.ViewModels.Makes

@model AllMakesViewModel
@{
    this.ViewData["Title"] = "All makes";
}

<partial name="_MessagePartial">

<h1 class="text-center">All Makes</h1>
<hr />

<form class="row">
    <div class="col-md-3">
        <input asp-for=KeyWord class="form-control" placeholder="Search">
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
</form>

<form id="delete" method="post"></form>

<div class="row mt-4">
    @foreach (var item in this.Model.Makes)
    {
        <div  type="submit" style="border-radius: 4px;" class="borderR list-group-item list-group-item-action col-md-4 float-left">
            @item.Name
            <button form="delete" type="submit" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm float-right"><i class="fa-solid fa-trash-can"></i></button>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm mr-2 float-right"><i class="fa-solid fa-pen-to-square"></i></a>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm mr-2 float-right"><i class="fas fa-car"></i></a>
        </div>
    }
</div>