@using MobileBG.Web.ViewModels.Makes

@model EditMakeViewModel
@{
    this.ViewData["Title"] = this.Model.Name;
}

<partial name="_MessagePartial">

<div class="container">
    <form method="post" class="col-md-3">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>

        <div>
        <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>